<!DOCTYPE html>
<html lang="ja">

<head>   
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Substitution Cipher Decipher</title>
  <link rel="stylesheet" type="text/css" href="css/styles.css">
</head>

<body>
  <h1>Substitution Cipher Decipher</h1>
  <div id="app">
    <div class="flex__container">
      <div class="flex__left">
        <textarea class="cipher_input" type="text" v-model="cipher"></textarea>
        <div>
          <h2>Plaintext</h2>
          <div class="plaintext">
            <span v-for="chara in decipherString">
              <span v-bind:class="{ color_red:chara.isChange }">{{ chara.chara }}</span>
            </span>
          </div>
        </div>
      </div>
      <div class="flex__right">
        <ul>
          <li v-for="c in alphabets">
            {{ c.key }} <span class="small_text">( <span
                class="charaCount">{{ charaCount(c.key) | numberAlignment }}</span>
              )
              <span class="charaRate">{{ charaRate( charaCount(c.key)) | numberWithPercent }}</span> :
              <input type="text" v-model="c.convertTo"></span>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <p>
    This tool was created to solve puzzles of the game "Cypher", which is based on cryptography.
  </p>
  <iframe src="https://store.steampowered.com/widget/746710/" frameborder="0" width="646" height="190"></iframe>
  <!-- <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> -->
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script src="js/main.js"></script>
</body>

</html>